name: .NET
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container: ubuntu:20.04

    steps:
    - uses: actions/checkout@v4

    - name: Fix apt sources & install basic dependencies
      run: |
        apt-get update --allow-releaseinfo-change
        apt-get install -y apt-transport-https ca-certificates gnupg software-properties-common

        # Enable missing repositories
        add-apt-repository universe
        add-apt-repository multiverse
        add-apt-repository restricted
        
        apt-get update

        # Install curl, wget (will pull correct deps automatically)
        apt-get install -y curl wget

    - name: Install Java (OpenJDK 11)
      run: |
        apt-get install -y openjdk-11-jre-headless

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 3.0.x

    - name: Embold Analyse
      run: |
        curl ${{ vars.EMBOLD_SCANNER_URL}} -o browserstack-codequality-scanner.tar.gz
        tar xvf browserstack-codequality-scanner.tar.gz
        echo "BrowserStack CQ Scanner downloaded"

        curl --silent --location --request GET \
          "${{ vars.EMBOLD_URL_CS}}/api/v1/repositories/7cbe09aa87333fb3c3fb5dcd0eb26a3b/scans/config/download" \
          --header "Authorization:Bearer ${{ secrets.EMBOLD_TOKEN_CS}}" \
          -o repository-configuration.json

        echo "Repository configuration downloaded"

        ./browserstack-codequality-scanner/bin/embold-scanner analyse \
          -u ${{ vars.EMBOLD_URL_CS}} \
          -t ${{ secrets.EMBOLD_TOKEN_CS}} \
          -r 7cbe09aa87333fb3c3fb5dcd0eb26a3b \
          -b . \
          -d ./embold-data \
          -c ./repository-configuration.json \
          -l ./embold-log \
          -sh $GITHUB_WORKSPACE/embold-scanner-home \
          -v
